@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(52, 56, 50);
}

main {
    padding-top: 55px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*#region PAGE COLUMN*/
.page-column {
    overflow-y:auto;
    position: fixed;
    top: 55px;
    left: 0%;
    width: 290px;
    height: calc(100vh - 55px);
    background: #D9D9D9;
    display:block
}   
    .main-pages{
        margin-top: 15px;
    }
    #icon {
        padding: 5px;
        border-radius: 50%;
        background: rgb(179, 179, 179);
    }
    .page-column li {
        transition: .1s;
        cursor: pointer;
        font-size: 15px;
        width: 230px;
        height: 45px;
        margin: 5px 20px 0 10px;
        padding-left: 10px;
        display: flex;
        align-items: center;
        border-radius: 5px;
    }
    .page-name {
        margin-left: 10px;
    }
    .page-column-info {
        display: inline-block;
        margin: 30px 20px 10px 20px;
    }
    .page-info {
        font-size: 12px;
    }

    .page-column li:hover {
        background-color: rgb(235, 235, 235);
    }

.vertical-space {
    width: 250px;
    height: 1px;
    background: gray;
    margin: 10px;
}
/*#endregion PAGE COLUMN*/

/*#region FEED COLUMN*/
.feed-column {
    width: 700px;
    padding: 20px;
    display: block;
    background-color: rgb(238, 238, 238);
}

    .vertical-feed {
        width: 700px;
        height: 305px;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        border-radius: 10px;
        background: #D9D9D9;
    }

        .vertical-feed-header {
            margin-top: 5px;
            width: 700px;
            height: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
        }

        .vertical-feed-header li {
            width: 210px;
            height: 45px;
            cursor: pointer;
            transition: .3s;
            font-size: 17px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
        }

        .vertical-feed-header li:hover {
            background-color: rgb(235, 235, 235);
        }    

        .stories-container {
            width: 100%;
            height: 240px;
            padding: 0 0 20px 10px;
            display: inline-flex;
            column-gap: 7px;
            align-items: center;
            justify-content: space-between;
        }

            .stories-framer {
                overflow: hidden;
                width: 150px;
                height: 230px;
                border-radius: 10px;
                color: white;
                display: initial;
            }

                .stories-content {
                    transition: .2s;
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }

                .stories-content:hover {
                    scale: 1.1;
                    background-color: rgba(0, 0, 0, .7);
                }

    .yourpost-feed {
        width: 100%;
        height: 110px;
        background: rgb(150, 150, 150);
        margin-top: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .posting-input-container{
            width: 700px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
        }

            .profile {
                min-width: 40px;
                max-width: 40px;
                min-height: 40px;
                min-height: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(138, 138, 138);
            }

            .post-box {
                width: 605px;
                height: 35px;
                border-radius: 50px;
                border-color: transparent;
                background-color: #D9D9D9;
                padding-left: 10px;
                font-size: 16px;
            }

            .vertical-space2 {
                width: 95%;
                height: 1px;
                margin: 2px 0 2px 0;
                background-color: #D9D9D9;
            }

        .posting-mode-container {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .posting-mode-container li {
            transition: .3s;
            width: 225px;
            height: 45px;
            cursor: pointer;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            color: rgb(247, 247, 247);
        }

        .posting-mode-container li:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }

    .post-feed {
        width: 700px;
        background-color:#D9D9D9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        border-radius: 10px;
    }

        .postedby-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 15px;
        }

            .postedby {
                display: flex;
                align-items: center;
                column-gap: 10px;
            }

                .name-date {
                    display: flex;
                    flex-direction: column;
                    row-gap: 3px;
                }

                .name-date h1 {
                    font-size: 17px;
                }

                .name-date h2 {
                    font-size: 13px;
                }

            .postedby-options {
                display: flex;
                align-items: center;
            }

        .post-description-container {
            display: flex;
            align-items: center;
            margin: 5px 15px 15px 15px;
        }

        .post-image {
            width: 100%;
            height: 60vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #post-01 {
            background-image: url(https://i.pinimg.com/originals/95/61/04/956104c81cb19aabeb13d9090a8f2d0c.jpg);
            background-size: contain;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-color: rgb(0, 0, 0);
        }

        #post-02 {
            background-image: url(https://conteudo.imguol.com.br/c/entretenimento/e4/2021/12/03/pisco-o-gato-que-parece-o-gato-de-botas-do-shrek-2-1638547040040_v2_1x1.jpg);
            background-size: contain;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-color: rgb(0, 0, 0);
        }

        #comments-post-02 {
            width: 300px;
            height: 300px;
            background-image: url(https://pbs.twimg.com/media/FnhljBnXEAAHZbm.jpg);
            background-size: contain;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-color: rgb(0, 0, 0);
        }

        #post-03 {
            background-image: url(https://i.pinimg.com/originals/09/74/09/097409ad8d8ca256c91a0fe6bf963598.jpg);
            background-size: contain;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-color: rgb(0, 0, 0);
        }

        .post-impressions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 15px 0 15px;
        }

            .impressions {
                display: flex;
                align-items: center;
            }

                .impressions-emoji {
                    display: flex;
                    align-items: center;
                }

                .impressions-number {
                    color: rgb(110, 110, 110);
                }

            .comments-number {
                color: rgb(110, 110, 110);
            }

        .vertical-space3 {
            width: 95%;
            margin-left: 2.5%;
            margin-right: 2.5%;
            margin-top: 5px;
            margin-bottom: 5px;
            height: 1px;
            background-color: gray;
        }

        .post-interactions {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 5px;
            margin: 0 15px 0 15px;
        }

            .interaction-button {
                transition: .2s;
                cursor: pointer;
                width: 33%;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
            }

            .interaction-button:hover {
                background-color: rgba(255, 255, 255, 0.5);
            }

        .post-comments {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 10px;
            margin: 5px 15px 5px 15px;
        }

            .user-comment {
                display: flex;
                align-items: start;
                justify-content: start;
                column-gap: 5px;
            }

                .user-name-comment {
                    display: flex;
                    flex-direction: column;
                    row-gap: 2px;
                    padding: 10px;
                    background-color: rgb(238, 238, 238);
                    border-radius: 20px;
                }

                    .name-comment {
                        font-size: 15px;
                    }

                    .comment-content {
                        font-size: 17px;
                    }

            .comment-here {
                display: flex;
                column-gap: 5px;
            }

                .comment-box {
                    width: 650px;
                    height: 40px;
                    display: flex;
                    justify-content: space-between;
                    border-radius: 50px;
                    background-color: rgb(245, 245, 245);
                }

                    #comment-box {
                        width: 400px;
                        background-color: transparent;
                        border: transparent;
                        padding: 15px;
                        font-size: 17px;
                    }

                    .comment-icons {
                        display: flex;
                    }
/*#endregion FEED COLUMN*/

.icone-img {
    transition: .2s;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-img:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/*#region CONTACT COLUMN*/
.contact-column {
    overflow-y:auto;
    position: fixed;
    top: 55px;
    right: 0%;
    width: 310px;
    height: calc(100vh - 55px);
    background: #D9D9D9;
    display:block;
}

    .pagina-e-perfil {
        width: 100%;
    }

        .suas-paginas-header {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 10px 0 20px;
        }

            .suas-paginas {
                font-size: 18px;
            }
    
        .outras-paginas {
            transition: .2s;
            cursor: pointer;
            height: 50px;
            display: flex;
            align-items: center;
            column-gap: 10px;
            border-radius: 10px;
            margin: 0 10px 0 10px;
            padding-left: 10px;
        }

        .outras-paginas:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }

            .profile-name {
                font-size: 16px;
            }
        
        .outras-paginas-acoes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 5px 10px 10px 26px;
        }

            .icone {
                transition: .2s;
                cursor: pointer;
                display: flex;
                align-items: center;
                font-size: 14px;
                border-radius: 10px;
                color: rgb(66, 66, 66);
            }

            .icone:hover {
                background-color: rgba(255, 255, 255, 0.5);
            }

    .contatos-column {
        width: 100%;
        margin-bottom: 10px;
    }

        .contatos-header {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 10px 0 10px;
        }

            .contatos-header-name {
                font-size: 19px;
            }

            .contatos-acoes {
                display: flex;
            }

        .contatos-x {
            transition: .2s;
            cursor: pointer;
            border-radius: 10px;
            height: 50px;
            display: flex;
            align-items: center;
            column-gap: 10px;
            margin: 0 10px 0 10px;
        }

        .contatos-x:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }

    .conversas-grupo-column {
        width: 100%;
        margin-bottom: 15px;
    }

        .conversas-grupo-header {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 10px 0 10px;
            font-size: 18px;
        }

        .conversa-grupo-x {
            transition: .2s;
            cursor: pointer;
            border-radius: 10px;
            height: 50px;
            display: flex;
            align-items: center;
            column-gap: 10px;
            margin: 0 10px 0 10px;
        }

        .conversa-grupo-x:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }
/*#endregion CONTACT COLUMN*/

/*#region PETS STORIES*/
#stories- {
    background-image: url();
    background-position: 50% 50%;
    background-size: cover;
}
#stories-galinho {
    background-image: url(https://rollingstone.uol.com.br/media/_versions/galinho-chicken-little-disney-animacao-reproducao_widelg.jpg);
    background-position: 40% 50%;
    background-size: cover;
}
#stories-milu {
    background-image: url(https://i0.wp.com/petcaramelo.com/wp-content/uploads/2018/06/milu-tim-tim.png);
    background-position: 70% 50%;
    background-size: cover;
}
#stories-lion {
    background-image: url(https://44.media.tumblr.com/b6611c957195fe9fcf2dfa99ad7955c0/tumblr_p66n3zwltg1tandono2_r1_540.gif);
    background-position: 20% 50%;
    background-size: cover;
}
#stories-ginko {
    background-image: url(https://pbs.twimg.com/media/Ft6uWMZX0AAYq4h.jpg);
    background-position: 20% 50%;
    background-size: cover;
}
/*#endregion PETS STORIES*/

/*#region PETS PROFILE*/
#profile-marley {
    background-image: url(https://s.glbimg.com/og/rg/f/original/2011/12/21/owen-wilson.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

#profile-botas {
    background-image: url(https://www.ofuxico.com.br/wp-content/uploads/2022/12/gato-de-botas-sorrindo-com-espada-em-punho-no-chao-1.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

#profile-lobo {
    background-image: url(https://img.wattpad.com/userbg/Unoriginal_Jackass12.72109.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

#profile-burro {
    background-image: url(https://orisval.files.wordpress.com/2014/08/shrek-e-o-burro.jpg);
    background-position: 30% 50%;
    background-size: cover;
}

#profile-darwin {
    background-image: url(https://img.quizur.com/f/img60078a973fa7f9.29838404.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

#profile-dogao {
    background-image: url(https://teleguiado.com/wp-content/uploads/2015/09/e2e2.png);
    background-position: 50% 50%;
    background-size: cover;
}

#profile-gary {
    background-image: url(https://i1.sndcdn.com/artworks-000327955845-vtks88-t500x500.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

#profile-scooby {
    background-image: url(https://tm.ibxk.com.br/2021/05/26/26091406020087.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

#profile-jake {
    background-image: url(https://gartic.com.br/imgs/mural/ar/ariel___/jake-o-cao.png);
    background-position: 50% 50%;
    background-size: cover;
}

#profile-stuart {
    background-image: url(https://www.tvpop.com.br/wp-content/uploads/2022/01/o-pequeno-stuart-little-sessao-de-sabado-01-01-foto-reproducao-tvpop.png);
    background-position: 50% 50%;
    background-size: cover;
}

#profile-stitch {
    background-image: url(https://i0.wp.com/tracklist.com.br/wp-content/uploads/2023/04/lilo-stitch.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

#profile-garfield {
    background-image: url(https://assets.deutschlandfunk.de/FILE_357d3ca8409a2c0c410823e75ba1bc94/1920x1080.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

#profile-emily {
    background-image: url(https://is5-ssl.mzstatic.com/image/thumb/0dGDcUKl2f5CeH5Ge3E5_w/1200x675.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

#profile-gizmo {
    background-image: url(https://www.gamereactor.pt/media/04/_3840443b.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

#profile-rango {
    background-image: url(https://i0.wp.com/cloud.estacaonerd.com/wp-content/uploads/2021/04/12184518/Rango.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

#profile-perry {
    background-image: url(https://i.ytimg.com/vi/imSiXiqtMS0/maxresdefault.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

#profile-goddard {
    background-image: url(https://static.wikia.nocookie.net/jimmyneutron/images/b/b8/Jimmy_Timmy_Power_Hour_Decimator_Goddard_close_up.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

#profile-boss {
    background-image: url(https://uploads.metropoles.com/wp-content/uploads/2018/07/26074143/ilha-dos-cachorros-2.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

#profile-coragem {
    background-image: url(https://feedcurioso.com.br/wp-content/uploads/2022/08/coragem-o-cao-covarde.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

#profile-snoopy {
    background-image: url(https://midia.gruposinos.com.br/_midias/jpg/2015/08/11/peanuts_pub_still_a02_f2_0-981965.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

#profile-snowbell {
    background-image: url(https://www.petmag.com.br/app/uploads/petteca/famosos/8458/snowbell-01.jpg);
    background-position: 50% 50%;
    background-size: cover;
}
/*#endregion PETS PROFILE*/